.foott{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.foott li{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.footer{
    width: 100%;
    background-color: aqua;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    text-align: center;
}